// Dependencies / standalone components
@import 'vars';
@import 'node_modules/simple-css-reset/reset';
@import 'node_modules/font-awesome/scss/variables';
@import 'typography';
@import 'utilities';

body {
  padding: 15px; // fallback
  padding: 1vw;
  margin: 0;
  color: $brand-1;
  background: $brand-3;
}

.wrapper {
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
}
